@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    *{
        @apply m-0 p-0 border-0 outline-none
    }
    :root{
        --color-bg: #ffff;
        --transition : all 400ms ease;

        --container-width-lg: 75%;
        --container-width-md: 86%;
        --container-width-sm: 90%;
        --container-width-xl: 100%;
    }
    html{
        @apply scroll-smooth
    }
    ::-webkit-scrollbar{
        @apply hidden
    }
    body{
        font-family: "Figtree", sans-serif;
        background-color: var(--color-bg);
        @apply leading-[1.3] text-black text-[24px] font-normal 
    }
    
}

@layer components{
  
.swiper {
    width: 782px;
    height: 412px;
    background-color: transparent;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
 
  }

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide img {
  width: 782px;
  height: 412px;
  object-fit: contain; /* atau 'contain' jika ingin memastikan seluruh gambar terlihat */
  border-radius: 18px; /* tambahkan ini jika Anda ingin gambar mengikuti bentuk slide */
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 400px;
}



}
